{% extends "base.html" %}
{% load comments pagemenu_inclusion_tags content_inclusion_tags gallery_inclusion_tags %} 

{% block content %}
    <div class="page section_news">
	    <div class="title">
		    <h1>{{ title }}</h1>
		</div><!--/title-->
            
        {% pagemenu pagemenu %}

        {% object_header object %}
      
        {% with object.as_leaf_class as object %}
            {% render_object object.as_leaf_class detail %}
        {% endwith %}

        {% render_comment_list for object %}

        {% render_comment_form for object %}

	</div><!--/page-->
{% endblock %}
