[submodule "docs/apps/django-generate"]
	path = docs/apps/django-generate
	url = https://github.com/praekelt/django-generate.git
[submodule "docs/apps/django-object-tools"]
	path = docs/apps/django-object-tools
	url = https://github.com/praekelt/django-object-tools.git
[submodule "docs/apps/django-ckeditor"]
	path = docs/apps/django-ckeditor
	url = https://github.com/shaunsephton/django-ckeditor.git
[submodule "docs/apps/django-snippetscream"]
	path = docs/apps/django-snippetscream
	url = https://github.com/shaunsephton/django-snippetscream.git
