[submodule "docs/apps/django-generate"]
	path = docs/apps/django-generate
	url = https://github.com/praekelt/django-generate.git
[submodule "docs/apps/django-object-tools"]
	path = docs/apps/django-object-tools
	url = https://github.com/praekelt/django-object-tools.git
[submodule "docs/apps/django-ckeditor"]
	path = docs/apps/django-ckeditor
	url = https://github.com/shaunsephton/django-ckeditor.git
[submodule "docs/apps/django-snippetscream"]
	path = docs/apps/django-snippetscream
	url = https://github.com/shaunsephton/django-snippetscream.git
[submodule "docs/apps/django-preferences"]
	path = docs/apps/django-preferences
	url = https://github.com/praekelt/django-preferences.git
[submodule "docs/apps/django-recaptcha"]
	path = docs/apps/django-recaptcha
	url = https://github.com/praekelt/django-recaptcha.git
[submodule "docs/apps/django-gizmo"]
	path = docs/apps/django-gizmo
	url = https://github.com/praekelt/django-gizmo.git
[submodule "docs/apps/django-export"]
	path = docs/apps/django-export
	url = https://github.com/praekelt/django-export.git
[submodule "docs/apps/django-googlesearch"]
	path = docs/apps/django-googlesearch
	url = https://github.com/praekelt/django-googlesearch.git
[submodule "docs/apps/django-category"]
	path = docs/apps/django-category
	url = https://github.com/praekelt/django-category.git
[submodule "docs/apps/django-section"]
	path = docs/apps/django-section
	url = https://github.com/praekelt/django-section.git
