addons:
    postgresql: "9.3"

language: python

python:
  - "2.7"

env:
  - DJANGO=Django==1.6.9

install:
  - pip install -q $DJANGO --use-mirrors

before_script:
    - psql -U postgres -c "create database jmbo encoding 'UTF8'"
    - psql -U postgres jmbo -c "CREATE EXTENSION postgis;"
    - psql -U postgres jmbo -c "CREATE EXTENSION postgis_topology;"

script: python setup.py test
