include AUTHORS
include LICENSE
include README.rst
recursive-include panya/fixtures *
recursive-include panya/generic *
recursive-include panya/templates *
recursive-include panya/templatetags *
recursive-include panya/utils *
