include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include convert_to_geodb_ubuntu.sh
recursive-include images *
recursive-include jmbo/fixtures *
recursive-include jmbo/templates *
recursive-include jmbo/templatetags *
recursive-include jmbo/utils *
recursive-include jmbo/view_modifiers *
recursive-include jmbo/locale *
recursive-include jmbo/migrations *
recursive-include jmbo/static *
recursive-include jmbo/tests *
