{% load jmbo_template_tags ultracache_tags %}

<div class="detail-inclusion">
    {% block content %}
        {% ultracache 1200 'object-detail-inclusion' object.id object.modified %}
            {% if object.image %}
                <img src="{{ object.image_detail_url }}" />
                {% if object.image_attribution %}
                    <div class="attribution">{{ object.image_attribution }}</div>
                {% endif %}
            {% endif %}
            {% if object.description %}
                <div class="description">
                    {{ object.description|linebreaks }}
                </div>
            {% endif %}
        {% endultracache %}
    {% endblock %}
    <div class="clear"></div>
</div>
