{% load likes_inclusion_tags i18n %}

<div class="object-header">    
    <div class="title">
	    {{ object.title }}
    </div>

	<div class="meta">

        {% comment %}
        <div class="byline">
            {% blocktrans %}By{% endblocktrans %} <a href="{{ object.owner.get_absolute_url }}">{{ object.owner }}</a> {% blocktrans %}on{% endblocktrans %} {{ object.created|date:"j F Y" }}
        </div>
        {% endcomment %}

        {% if object.comments_enabled %}
        <div class="comments">
            {% with object.comment_count as total %}
                ({{ total }} {% blocktrans %}comment{% endblocktrans %}{{ total|pluralize }}) 
            {% endwith %}
        </div>
        {% endif %}

        {% if object.likes_enabled %}
        <div class="likes">
            {% likes object %}
        </div>
        {% endif %}

    </div>

</div>
