<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="description" content="Jmbo" />
        <meta property="og:title" content="Jmbo" />
        <meta property="og:description" content="Jmbo is a mobile-focused content delivery platform for the delivery of dynamic experiences to audiences in emerging markets." />
        <meta property="og:image" content="{{ STATIC_URL }}jmbo/pics/og_jmbo_logo.png" />
        <title>Jmbo</title>
        <link href="{{ STATIC_URL }}jmbo/css/adv.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}jmbo/pics/apple-touch-icon.png" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}jmbo/pics/favicon.ico" />
        <link rel="icon" type="image/gif" href="{{ STATIC_URL }}jmbo/pics/favicon.gif" />
        <script type="text/javascript" src="{{ STATIC_URL }}jmbo/js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jmbo/js/custom.js"></script>
    </head>
    <body>
  	<div id="header">
    	<div id="menu-button"><a href="#">menu</a></div>
        <div id="signin-button" class="signin-button"><a href="signin.html">sign in</a></div>
        <div id="logo"><a href="{% url index %}"><img src="{{ STATIC_URL }}jmbo/pics/logo.png"  alt="Jmbo" /></a></div>
    </div>
    
    <div id="content">
    
    	<div id="promo">
            <a href="win.html"><img src="media/pics/promo-1.jpg" /></a>
        </div>
    
    	<h2>Updates</h2>
        
        <div class="item">
        	<a href="article.html"><img src="media/pics/thumb.png" class="thumb" /></a>
        	<h3><a href="article.html">Celebrity Womaniser</a></h3>
            <p>Why won't Justin take the next step with Jessica?</p>
            <div class="item-tools"><span class="comments"><a href="article.html#comments">295</a></span><span class="likes">67</span><span class="tag"><a href="news.html">News</a></span></div>
        </div>
        <div class="item">
        	<a href="event.html"><img src="media/pics/thumb.png" class="thumb" /></a>
        	<h3><a href="event.html">Sean Kingston Live</a></h3>
            <p>25 Feb 2011, Emperor's Palace, Johannesburg</p>
            <div class="item-tools"><span class="comments"><a href="event.html#comments">295</a></span><span class="likes">67</span><span class="tag"><a href="events.html">Events</a></span></div>
        </div>
        <div class="item">
        	<a href="article.html"><img src="media/pics/thumb.png" class="thumb" /></a>
        	<h3><a href="article.html">Celebrity Womaniser</a></h3>
            <p>Why won't Justin take the next step with Jessica?</p>
            <div class="item-tools"><span class="comments"><a href="article.html#comments">295</a></span><span class="likes">67</span><span class="tag"><a href="news.html">News</a></span></div>
        </div>
        
        <h2>New Pics</h2>
        
        <div class="pic-item"><a href="pic.html"><img src="media/pics/thumb.png" /></a><div class="item-tools"><span class="comments"><a href="pic.html#comments">295</a></span><span class="likes">67</span></div></div>
        <div class="pic-item"><a href="pic.html"><img src="media/pics/thumb.png" /></a><div class="item-tools"><span class="comments"><a href="pic.html#comments">295</a></span><span class="likes">67</span></div></div>
        <div class="pic-item"><a href="pic.html"><img src="media/pics/thumb.png" /></a><div class="item-tools"><span class="comments"><a href="pic.html#comments">295</a></span><span class="likes">67</span></div></div>
        <div class="pic-item"><a href="pic.html"><img src="media/pics/thumb.png" /></a><div class="item-tools"><span class="comments"><a href="pic.html#comments">295</a></span><span class="likes">67</span></div></div>
        
        <h2>New Videos</h2>
        
        <div class="item">
        	<a href="video.html"><img src="media/pics/thumb.png" class="thumb" /></a>
        	<h3><a href="video.html">Celebrity Womaniser</a></h3>
            <p>Why won't Justin take the next step with Jessica?</p>
            <div class="item-tools"><span class="comments"><a href="video.html#comments">295</a></span><span class="likes">67</span><span class="tag">2:32</span></div>
        </div>
        <div class="item">
        	<a href="video.html"><img src="media/pics/thumb.png" class="thumb" /></a>
        	<h3><a href="video.html">Celebrity Womaniser</a></h3>
            <p>Why won't Justin take the next step with Jessica?</p>
            <div class="item-tools"><span class="comments"><a href="video.html#comments">295</a></span><span class="likes">67</span><span class="tag">2:32</span></div>
        </div>
        <div class="item">
        	<a href="video.html"><img src="media/pics/thumb.png" class="thumb" /></a>
        	<h3><a href="video.html">Celebrity Womaniser</a></h3>
            <p>Why won't Justin take the next step with Jessica?</p>
            <div class="item-tools"><span class="comments"><a href="video.html#comments">295</a></span><span class="likes">67</span><span class="tag">2:32</span></div>
        </div>
    	
    </div>
    
    <div id="follow"><span>Find us on:</span><a href="http://www.facebook.com/panya"><img src="media/pics/fb.png" /></a><a href="http://www.twitter.com/panya"><img src="media/pics/twitter.png" /></a></div>
    
    <div id="menu">
        <ul>
        	<li class="head"><a href="#" class="close"><img src="media/pics/close.png" /></a>Menu</li>
        	<li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="pics.html">Pics</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="downloads.html">Downloads</a></li>
            <li id="search">
            	<form name="search-form" method="post" action="search-results.html">
        		<fieldset>
            	<input type="text" class="txt" name="search-words" id="search-words" placeholder="Search our site"  />
                <input type="submit" value="Search" name="search-button" class="btn" />
            	</fieldset>
        		</form>
            </li>
            <li class="footer last">&copy; 2011 Praekelt Digital.<br /><a href="about.html">About</a> <a href="contact.html">Contact</a> <a href="terms.html">Terms</a> <a href="http://prototypes.praekelt.co.za/panya-go/basic/">Basic Mobi</a></li>
        </ul>
     
    </div>
    
  </body>
</html>
