<div class="heading">
    <p class="likes">24<span>Likes</span></p>
	<h1>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et!</h1>
	<p class="meta">By <a href="/dj-blog.html">Jack Johnson</a> on 20 February 2009</p>
	<p class="social">
	    <a href="javascript: void(0);" class="social_share">Share</a>
		<a href="/dj-blog-detail.html#contribute" class="social_comments">Comments</a>
		<a href="javascript: void(0);" class="social_like">I Like</a>
	</p>
	<p class="social_pop">
	    <input type="text" name="share" value="http://www.radio2000.co.za/" />
		<a href="#" class="social_mail"></a>
		<a href="#" class="social_face"></a>
		<a href="#" class="social_twit"></a>
	</p>
</div><!--/heading-->
