{% comment %}
<div class="comments">
    <h2>Comments</h2>
	<a href="#contribute" class="add_your_comment">Add your Comment</a>
	<div class="comment">
	    <p class="comment_pic"><img src="media/radio2000/images/examples/comment.jpg" width="50" height="50" alt="" /><span></span></p>
		<p class="comment_info">Jack Johnson<span>3 Minutes Ago</span><a href="/pop-abuse.html?height=495&amp;width=424" class="thickbox">Report Abuse</a>
		<div class="comment_body rich">
		    <p>I don't think it has anything to do with marketing. The price for the tickets are just too much considering the rate of unemployment in the country and the current economic situation</p>
		</div>
	</div><!--/comment-->
</div><!--/comments-->
				
<div class="contribute"><a id="contribute"></a>
    <h2 class="no_bord">Add your Comment</h2>
	<form id="frmComment" action="#" method="post" class="cmxform">
		<p><textarea name="comment" class="shift required"></textarea></p>
		<p><input type="submit" name="submit" value="" class="btn" /></p>
	</form>
</div><!--/contribute-->
{% endcomment %}
